<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <div class="logo-text">Care<span>Connect</span></div>
            </div>
            <nav>
                <ul class="nav-items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact-us">Contact</a></li>
                </ul>
                <ul class="nav-login" >
                    <li  class="logout-button"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>